[Desktop Entry]
Version=1.0
Name=Wallch Wallpaper Changer
GenericName=Wallch Wallpaper Changer
Comment=Change your desktop wallpapers whenever you want!
Icon=/usr/share/wallch/files/wallpaper.png
Exec=wallch
Terminal=false
Type=Application
Categories=Qt;Utility;
MimeType=application/x-wallch-project
