[Desktop Entry]
Version=2.1
Name=Wallch
Comment=Change desktop wallpapers automatically
Exec=/usr/bin/wallch
Icon=wallch
Terminal=false
Type=Application
Categories=Utility;Application;
MimeType=application/x-wallch-project

X-Ayatana-Desktop-Shortcuts=Start;Pause;Stop;Next;Previous;Change_Wallpaper;Live_Earth;

[Start Shortcut Group]
Name=Start
Exec=/usr/bin/wallch --constant
TargetEnvironment=Unity

[Pause Shortcut Group]
Name=Pause
Exec=/usr/bin/wallch --pause
TargetEnvironment=Unity

[Stop Shortcut Group]
Name=Stop
Exec=/usr/bin/wallch --stop
TargetEnvironment=Unity

[Next Shortcut Group]
Name=Next
Exec=/usr/bin/wallch --next
TargetEnvironment=Unity

[Previous Shortcut Group]
Name=Previous
Exec=/usr/bin/wallch --previous 
TargetEnvironment=Unity

[Change_Wallpaper Shortcut Group]
Name=Change Wallpaper
Exec=/usr/bin/wallch --once
TargetEnvironmet=Unity

[Live_Earth Shortcut Group]
Name=Live Earth Wallpaper
Exec=/usr/bin/wallch --earth
TargetEnvironmet=Unity
